../*
../.bash_history
../.gitconfig
../.lesshst
../packettracer/
../.ssh/
../.vscode/
../AppData/
../Cisco Packet Tracer 7.3.0/
../Contacts/
../Desktop/
../Documents/
../Downloads/
../Favorites/
../IntelGraphicsProfiles/
../Links/
../Music/
../NTUSER.*
../OneDrive/
../Pictures/
../Saved Games/
../Searches/
../Sti_Trace.log
../Videos/
../WPS Cloud Files/
../node_modules/
../Application Data/
../Cookies/
../Local Settings/
../My Documents/
../NetHood/
../PrintHood/
../Recent/
../SendTo/
../Start Menu/
../Templates/